appdirs==1.4.4
backcall==0.2.0
certifi==2020.4.5.2
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
decorator==4.4.2
distlib==0.3.0
filelock==3.0.12
geckodriver-autoinstaller==0.1.0
googletrans==2.4.0
identify==1.4.19
idna==2.9
importlib-metadata==1.6.1
importlib-resources==2.0.1
ipdb==0.13.2
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
joblib==0.15.1
lxml==4.5.1
nltk==3.5
nodeenv==1.4.0
numpy==1.18.5
opencv-python==4.2.0.34
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.13.1
pre-commit==2.5.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.7
pytesseract==0.3.4
PyYAML==5.3.1
regex==2020.6.8
requests==2.23.0
selenium==3.141.0
six==1.15.0
toml==0.10.1
tox==3.15.2
tqdm==4.46.1
traitlets==4.3.3
translate==3.5.0
translingual==0.13.1
Unidecode==1.1.1
urllib3==1.25.9
virtualenv==20.0.23
wcwidth==0.2.4
zipp==3.1.0
